getpass4
os-sys
lib-platform
sockets
DateTime
uuid
psutil
PyAutoGUI
speedtest-cli
aiogram
PyAudio
Wave
Pillow
subprocess.run
asyncio
winregistry
PyQt5
PyQt5-tools
PyInstaller
pywin32
